.nav-link[data-toggle].collapsed:after {
  content: "▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
  content: "▴";
}

.nav-link{
  color: darkgrey;
}


body {
  background-color: #e1f5fe;
}

h1 {
  color: #333333;
}

.my-css.navbar {
  background-color: #81d4fa !important;
  padding: 0px 20px;
}
.my-css.navbar ul.navbar-nav li a {
  font-weight: bold;
  padding: 20px;
}
.my-css.navbar ul.navbar-nav li a span {
  text-align: center;
  /* padding: 0px !important; */
  color: #ffffff;
  /* padding: 4px 10px; */
  display: inline-block;
  background-color: orangered;
  line-height: 25px;
  /* display: initial; */
  height: 25px;
  margin-left: 5px;
  width: 25px;
  border-radius: 50%;
}
.my-css.navbar ul.navbar-nav li .dropdown-toggle::after {
  display: none;
}
.my-css.navbar ul.navbar-nav li .notification {
  width: 350px;
  padding: 0px;
}
.my-css.navbar ul.navbar-nav li .notification .card {
  border: 0px;
}
.my-css.navbar ul.navbar-nav li .notification .card .card-header {
  text-transform: uppercase;
}
.my-css.navbar ul.navbar-nav li .notification .card .card-body .media img {
  border-radius: 50%;
  width: 50px;
}
.my-css.navbar ul.navbar-nav li .notification .card .card-body .media .media-body {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.my-css.navbar ul.navbar-nav li .notification .card .card-body .media .media-body h5 {
  font-size: 15px;
}
.my-css.navbar ul.navbar-nav li.active a {
  background-color: #00acc1;
  color: #ffffff;
}
