.selecty .selecty-options li {
    cursor: pointer;
    text-align: left;
    padding: 0 24px;
    height: 35px;
    line-height: 40px;
    font-size: 0.8rem;
    &.selected {
        color: #ea7826;
    }
}

.select-label{
    font-size: 0.7rem !important;
    color: $purple-color;
}