.sideNav{
    width: 20%;
    height:100vh;
    background-color:purple ;
    color:white;
}

.overlayBackground {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 0;
}

.nav-link[data-toggle].collapsed:after {
  content: "▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
  content: "▴";
}


  
  .sidepanel  {
    width: 0;
    position: fixed;
    z-index: 3;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $purple-color;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #eee;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: transparent;
    &:focus{
      outline: none;
    }
  }

