
table.table thead th {
    border-top: none;
    font-size: 0.8rem;
    padding: 10px;
    width: 23%;
    font-weight: bold;
}

table.table td, table.table th {
    padding-top: 1.1rem;
    padding-bottom: 1rem;
    font-size: 0.8rem;
    padding-bottom: 0;
    padding-top: 0;

}
