.main-client-container {
    margin-top: 3.5em;
}

.sidenav-client {
    height: 100%;
    z-index: 1;
    position: fixed;
    background-color: $purple-color;
    a {
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        font-size: 14px;
        color: white;
        display: block;
        &:hover{
            color: #f1f1f1;
        }
    }     
}