.folder {
    // width: 150px;
    // height: 105px;
    position: relative;
    background-color: #f3f3f3;
    border-radius: 0 6px 6px 6px;
    box-shadow: 4px 4px 7px rgba(163, 163, 163, 0.59);
    // i:last-child{
    //     &::before{
    //         content:"";
    //         width: 50%;
    //         text-align: end;
    //         opacity: 0.3;
    //         background-color: black;
    //     }
    // }
}

.folder:before {
    content: '';
    width: 50%;
    height: 20px;
    border-radius: 6px 20px 0 0;
    background-color: #f3f3f3;
    position: absolute;
    top: -18px;
    left: 0px;
}