.employeeImg{
    background-image: url('../assets/profilePic.jpg');
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    position: relative;
}

.employeeData{
    h6 {
        font-size: 0.9rem; 
    }
}