.userProfile{
    background-image: url('../assets/profilePic.jpg');
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    position: relative;
    &:last-child{
        &::before{
            content:"";
            background: black;
            opacity: 0.2;
            color: white;
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 50%;
        }
        &::after{
            content:"";
            background: black;
            opacity: 0.2;
            color: white;
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 50%;
        }
    }
}

.fa-edit{
    color:$garas-primary-color;
}

.empty-card{
    border: 1px dashed lightgrey;
    border-radius: 3px;
    height: 8.5em;
    .addTaskLink{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}