// .hrModule{
    .md-form{
        margin-top: 1rem;
        margin-bottom: 1rem;
        input[type=text]:focus:not([readonly]) , 
        input[type=password]:focus:not([readonly]),
        input[type=number]:focus:not([readonly]),
        input[type=email]:focus:not([readonly]),
        input[type=date]:focus:not([readonly]),
        textarea:focus:not([readonly]){
            box-shadow: 0 1px 0 0 $purple-color !important;
            border-bottom: 1px solid $purple-color !important;
            +label{
                color: $purple-color;
            }
        }
        textarea.md-textarea:focus:not([readonly]){
            box-shadow: 0 1px 0 0 $purple-color !important;
            border-bottom: 1px solid $purple-color !important;
            +label{
                color: $purple-color;
            }
        }
        .form-control{
            font-size: 0.8rem;
        }
        label{
            font-size: 0.7rem !important;
            &.active{
                color: $purple-color;
            }
        }
    }

    .notification-menu{
        position: relative;
        &::before{
            content: "";
            height: 1em;
            width: 1em;
            position: absolute;
            background: white;
            z-index: -1;
            right: 5px;
            top: -4px;
            box-shadow: 0 .005rem -0.5rem rgba(0,0,0,.15)!important;
            transform: rotate(45deg);
        }
    }


    .form-sub-title{
        color: $purple-color;
        font-size: 0.9rem;
        // margin-left: 1em;
    }

    .notification{
        position: relative;
        .notification-flag{
            position: absolute;
            height: 0.7em;
            width: 0.7em;
            border-radius: 50%;
            background-color: $secondary-green-color;
            top:0;
            right: 0;
            z-index: 2;
        }
    }

    .nav-link[data-toggle].collapsed:after {
        content: "▾";
      }
      .nav-link[data-toggle]:not(.collapsed):after {
        content: "▴";
      }

    .media{
        .avatar{
            height: 3em;
            width: 3em;
        }
        h6{
            font-size: 0.7rem;
        }
        p{
            font-size: 0.6rem !important;
            width: 20em;
            white-space: nowrap;
            overflow: hidden;
            margin-bottom: 0;
            text-overflow: ellipsis;
              
        }
    }


    .addMore{
        height: 2em;
        width: 2em;
        border-radius: 50%;
        padding: 0 !important;
        margin: 0;
        font-weight: 700;
    }

    .w-85{
        width: 85%;
    }

    .bank-transaction{
       border-radius: 5px;
       border: 1px dashed lightgrey; 
    }

    .custom-file-label{
        border-top: 0 ;
        border-left:0;
        border-right: 0;
        border-radius: 0;
        padding-left: 0;
        &:after{
            content:"";
            border-radius:0.25rem;
        }
    }

    .custom-file-input{
        &:focus{
            outline: 0;
        }
    }