.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $purple-color;
    overflow-x: hidden;
    a {
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        font-size: 14px;
        color: white;
        display: block;
        &:hover{
            color: #f1f1f1;
        }
      }
      a:first-child{
        margin-top: 5em;
      }      
  }

  .navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    .navbar-brand{
      img{
        height: 2.5em;
      }
    }
    &.navbar-dark {
      .navbar-toggler {
        color: #f4752c;
      }
    }
  }

  .main {
      margin-left: 6em;
      margin-right: 1em;
      margin-top: 5em;
  }

  .nav-link[data-toggle].collapsed:after {
    content: "▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
    content: "▴";
}

  
  .tab-slider--nav {
    width: 100%;
    float: left;
    margin-bottom: 20px;
  }
  
  .tab-slider--tabs {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    border-radius: 35px;
    overflow: hidden;
    background: #fff;
    height: 35px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .tab-slider--tabs:after {
    content: "";
    width: 55%;
    background: $primary-blue-color;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 250ms ease-in-out;
    border-radius: 35px;
  }
  .tab-slider--tabs.slide:after {
    left: 50%;
  }
  
  .tab-slider--trigger {
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    color: $primary-blue-color;
    text-align: center;
    padding: 11px 25px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    transition: color 250ms ease-in-out;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .tab-slider--trigger.active {
    color: #fff;
  }
  
  .tab-slider--body {
    margin-bottom: 20px;
  }
  

  
  .c-btn {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    line-height: 36px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    min-width: 88px;
    height: 36px;
    margin: 10px 8px;
    padding: 0 8px;
    text-align: center;
    letter-spacing: .5px;
    border-radius: 2px;
    background: #F1F1F1;
    color: #393939;
    transition: background 200ms ease-in-out;
    box-shadow: 0 3.08696px 5.82609px 0 rgba(0, 0, 0, 0.16174), 0 3.65217px 12.91304px 0 rgba(0, 0, 0, 0.12435);
  }
  .c-btn--flat {
    background: transparent;
    margin: 10px 8px;
    min-width: 52px;
  }
  .c-btn:hover {
    background: rgba(153, 153, 153, 0.2);
    color: #393939;
  }
  .c-btn:active {
    box-shadow: 0 9.6087px 10.78261px 0 rgba(0, 0, 0, 0.17217), 0 13.56522px 30.3913px 0 rgba(0, 0, 0, 0.15043);
  }
  .c-btn--flat, .c-btn--flat:hover, .c-btn--flat:active {
    box-shadow: none;
  }