.profile-picture-upload{
    
    label{
        display: block;
        max-width: 200px;
        margin: 0 auto 15px;
        text-align: center;
        word-wrap: break-word;
        color: gray;
        border: 1px dashed gray;
        border-radius: 50%;
        height: 8em;
        width: 8em;
        position: relative;
        &::before{
            content:"Upload Picture";
            position: absolute;
            top: 40%;
            left: 10%;
        }
    }
    
    .hidden, #uploadImg:not(.hidden) + label{
        display: none;
    }
    
    #file{
        display: none;
          margin: 0 auto;
    }
    
    #upload{
        display: block;
        padding: 5px 15px;
        border: 0;
        margin: 0 auto;
        font-size: 0.7rem;
        letter-spacing: 0.05em;
        cursor: pointer;
        background: $purple-color;
        color: #fff;
        border-radius: 25px;
        outline: none;
        transition: .3s ease-in-out;
        &:hover, &:focus{
            background: $purple-color;
        }
        &:active{
            background: $purple-color;
            transition: .1s ease-in-out;
        }
    }
    
    img{
        display: block;
        margin: 0 auto 15px;
        border-radius: 50%;
        height: 5em;
        width: 5em;
    }
}