

/* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .sidenav{
        display: none;
    }
    .main{
        margin-left: 1em !important;
    }

    .navbar .nav-flex-icons {
        justify-content: space-between;
    }
    .media .avatar {
       margin-bottom: 8px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...} 

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}