@font-face{
    font-family: "gothic-medium";
    src: url("../fonts/gotham-pro-cufonfonts/GothaProMed.otf"),
    url("../fonts/gotham-pro-cufonfonts/GothaProMed.woff") format('woff');
}

@font-face{
    font-family: "gothic-regular";
    src: url("../fonts/gotham-pro-cufonfonts/GothaProReg.otf"),
		 url('../fonts/gotham-pro-cufonfonts/GothaProReg.woff') format('woff');
}

@font-face{
    font-family: "paypal-font";
    src: url("../fonts/paypal/PayPalSansSmall-Regular.ttf"),
}

