body {
    font-family: $gothic-regular ;
    background-color:$light-grey-color ;
}

.paypal-font{
    font-family: paypal-font !important ;
}

h1 , h2 , h3 , h4 , h5 , h6{
    font-family: $gothic-medium ;
    color: $navy-blue;
}

p{
    font-size: 0.8rem !important;
}

a{
    font-size: 0.8rem !important;
}

.btn{
    text-transform: none !important;
}

.success{
    color:$secondary-green-color;
}

.danger{
    color: tomato;
}

input::placeholder , label{
    font-size: 0.8rem !important;
    font-family: paypal-font;
}

.mdl-textfield__label{
    font-size: 0.8rem !important;
    font-family: paypal-font;
    color: #757575;
}

input{
    margin-bottom: 10px;
    font-family: $gothic-regular;
}

.btn-rounded{
    border-radius: $border-raduis-ratio;
    color:white;
}

::-webkit-scrollbar {
    width: 2px;
    background: $purple-color;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.getmdl-select .mdl-menu__container .mdl-menu .mdl-menu__item{
    font-size: 0.7rem;
}

.uppy-Dashboard-inner {
    height: 25em !important;
    width: 100% !important;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: none; /* no underline */
  }

  a:link,
a:visited,
a:hover,
a:active {
    color: inherit; /* blue colors for links too */
    text-decoration: none; /* no underline */
}

hr{
    border-top: 1px solid #f3f3f3;
}

.fa-exchange-alt{
    transform: rotate(99grad);
}
.small-rounded-btn{
    height: 30px;
    width: 30px;
}