$primary-blue-color : #4b83f0;
$light-blue-color : #f4f8fc;
$secondary-green-color : #62d862;
$light-grey-color: #f8fafc;
$light-purple-color : #dfe8f0;
$danger-color : tomato;
$purple-color : #3f51b5 ;
$navy-blue :#000080;
$garas-primary-color : #F3702A;
$border-raduis-ratio : 25px ;

$gothic-medium : "gothic-medium" ; 
$gothic-regular : "gothic-regular" ; 
